.topbar {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.35),
        rgba(0,0,0,0)
    );
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: auto;
    padding: 25px 0;

    gap: 30px;
}

.nav-links {
    display: flex;
    gap: 35px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #b8924f;
}

.nav-btn {
    text-decoration: none;
    border: 2px solid #777;
    padding: 10px 28px;
    border-radius: 30px;
    color: #222;
    font-weight: 700;
    transition: 0.2s;
}

.nav-btn:hover {
    background: #222;
    color: white;
}

.nav-links a,
.nav-btn {
    color: white;
}

.nav-btn {
    border: 2px solid white;
}

.nav-btn:hover {
    background: white;
    color: black;
}

/* HAMBURGER */
.hamburger{
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 32px;
    cursor: pointer;
}


/* =========================================
   TABLET + MOBILE
========================================= */
@media (max-width: 900px){

    .topbar{
        position: fixed;
        background: rgba(17, 24, 39, 0.95);
        backdrop-filter: blur(8px);
    }

    .navbar{
        width: 92%;
        padding: 15px 0;
        position: relative;
    }

    .hamburger{
        display: block;
    }

    .nav-links{
        display: none;
        position: fixed;
        top: 80px;
        left: 0;
        width: 100vw;

        background: rgba(17, 24, 39, 0.98);
        backdrop-filter: blur(10px);

        flex-direction: column;
        align-items: center;
        gap: 22px;

        padding: 30px 0;
        border-radius: 0 0 18px 18px;

        opacity: 0;
        pointer-events: none;
        transition: 0.3s ease;
    }

    .nav-links.active{
        display: flex;
        opacity: 1;
        pointer-events: auto;
    }

    .nav-links a{
        font-size: 15px;
    }

    .nav-btn{
        padding: 9px 20px;
        font-size: 14px;
    }

}