<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Noble InnSync{% endblock %}</title>

    <!-- Global styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainStyleSheet.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Optional page-specific CSS -->
    {% block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    {% endblock %}

     <script src="https://kit.fontawesome.com/5c09730e7a.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav>
        {% include '_sidebar.html' %}
    </nav>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% include '_footer.html' %}
    </footer>

</body>

</html>